/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ----------------------------------------------------------------------------------- */
/* my css start */

*, *::before, *::after {
    box-sizing: border-box;
}


img{
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Noto Sans','Roboto',sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

h6{
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.header,.footer{
    background-color: #AA0601;
}

.header{
    padding: 30px 56px 30px 88px;
}

.header__navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__navbar h1 a{
    background-image: url(../img/logo/logo.png);
    width: 80px;
    height: 48.57px;
    display: block;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}

.header__menu{
    display: flex;
    font-size: 20px;
}


.header__menu a, .footer__wrap a, .footer__wrap{
    color: #fff;
    text-decoration: none;
}

.header__menu a{
    padding: 32px;
}

.content{
    height: 30px;
}

.footer__wrap{
    max-width: 1110px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer__menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 32px; */
}

.footer__menu ul{
    display: flex;
    align-items: center;
}

.footer .footer_info{
    flex-direction: column;
}



/* .footer__menu ul:nth-child(3) {
    display: block;
    width: 1110px;
} */
.footer__nav{
    margin-bottom: 24px;
}

/* .footer__nav li{
    margin-right: 48px;
} */

.footer__nav li a{
    padding: 24px;
}

.footer__logo li{
    margin-left: 32px;
    margin-bottom: 24px;
}

.footer__logo li a img{
    width: 48px;
}

.footer_info{
    font-size: 36px;
    line-height: 54px;
    /* width: 100%; */
    padding-bottom: 5px;
    /* border-bottom: 1px solid #fff; */
    /* margin-bottom: 24px; */
}
.hr{
    border-top: 1px solid #fff;
    height: 24px;
}

.footer_info a{
    margin-bottom: 17px;
    display: flex;
}

/* .footer_info span{
    margin-right: 17px; 
} */

.footer_info a img{
    width: 44px;
    height: 44px;
    margin-right: 17px;
}


/* .footer__copyright{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.footer__copyright-left, .footer__copyright-right{
    display:flex;
    align-items: center;
}

.footer__copyright-left img{
    margin-right: 38px;
    width: 80px;
}

.footer__copyright-right h6{
    margin-left: 62px;
} */


.footer__copyright{
    display:flex;
    justify-content: space-between;
    align-items: center; 
}


.footer__copyright ul{
    display:flex;
    align-items: center;
}


.footer__copyright__logo a{
    width: 80px;
    background-image: url(../img/logo/logo.png);
    height: 48.57px;
    display: block;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 38px;
}




@media (max-width:992px){
    .header{
        padding: 30px 39px 30px 39px;
    }
    
    .header__menu li{
        margin-left: 40px;
    }

    .header__menu a{
        padding: 10px;
    }

    .footer__wrap{
        width: auto;
        padding: 40px 39px 40px 39px;
    }

    .footer__logo li a img{
        width: 24px;
    }

    .footer_info{
        font-size: 20px;
        line-height: 30px;
    }
    .footer_info a img{
        width: 28px;
        margin-right: 10px;
    }
    /* .footer__menu{
        margin-bottom: 24px;
    } */
    .footer__copyright{
        font-size: 14px;
        line-height: 21px;
    }
    .footer__copyright ul li a{
        display: none;
        margin-right: 24px;
    }

    .footer__copyright ul li{
        margin-left: 24px;
    }

}


@media (max-width:767px){
    .header{
        padding: 0;
    }

    .header__navbar{
        display: inline-block;
        text-align: center;
        width: 100%;
    }

    .header__navbar h1 a{
        margin: 0 auto;
        width: 48px;
        height: 29.14px;
        background-size: 48px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .header__menu{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }    
    .header__menu li{
        padding-top: 8px;
        padding-bottom: 8px;
        text-align: center;
        margin: 0;
        width: 49.3%;
        border: 1px solid #fff;
    }
    .footer__wrap{
        padding: 23px 15px 18px 15px;
    }

    .footer_info{
        margin: 0;
    }

    .footer_info a{
        margin: 0;
    }

    .footer_info a img{
        width: 20px;
        margin-right: 7px;
    }

    .footer__menu{
        position: relative;
    }


    .footer__menu ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer__menu ul:nth-child(1){
        display: none;
    }
    .footer__logo{
        position: absolute;
        right: 0;
        top: 0;
    }

    .footer__logo li{
        margin: 0 0 0 24px;
    }

    .footer__copyright{
        display: block;
        position: relative;
    }

    .footer__copyright-left img{
        display: inline-block;
        width: 46px;
        position: absolute;
        margin: 0;
        right: 0;
        bottom: 0;
    }

    .footer__copyright ul li{
        padding: 0;
        margin: 0;
        text-align: left;
        margin-bottom: 8px;
    }
}