@import "variables";


// home colors
$color-home-title: $secondary;
$color-home-title-light: $white;
$color-home-text: $black;
$color-home-product: $primary;
$color-home-text-s: $dark-blue;
$color-home-time: $dark-gray;
$color-home-background: $light-primary;
$color-home-btn: $primary;
$color-home-border-light: $light-blue;
$color-home-border-dark: $black;


// home font
$co-brand: $fontsize*4.5;
$class-brand: $fontsize*4.5;
$card_title: $fontsize-s;
$card_time: $fontsize-s;
$form_p: $fontsize*1.25;
