@import "variables";

// Product-OP
$color-product-option: $black;
$color-product-title: $black;
$color-product-price: $primary;
$color-product-chiplight: $orange;
$color-product-chipdark: $brown;
$color-product-page: $black;
$color-product-page-border: $dark-red;