// main color
$primary: #AA0601;
$secondary: #650300;
$light-primary: #FBF2F2;
$white: #FFFFFF;
$gray: #F2F2F2;
$light-gray: #DEE2E6;
$dark-gray: #707070;
$black: #000000;
$dark-blue: #212529;
$dark-red: #555555;
$orange: #B75929;
$brown: #5F3E2D;


// layout colors
$color-layout-text: $white;
$color-layout-background: $primary;

// home colors
$color-home-title: $secondary;
$color-home-title-light: $white;
$color-home-text: $black;
$color-home-product: $primary;
$color-home-text-s: $dark-blue;
$color-home-time: $dark-gray;
$color-home-background: $light-primary;
$color-home-btn: $primary;
$color-home-border-light: $light-gray;
$color-home-border-dark: $black;

// Product-OP
$color-product-option: $black;
$color-product-title: $black;
$color-product-price: $primary;
$color-product-chiplight: $orange;
$color-product-chipdark: $brown;
$color-product-page: $black;
$color-product-page-border: $dark-red;













$color-light-pick: #B75929;
$color-dark-pick: #5F3E2D;

$color-price: #AA0601;
$color-page: #000000;
$color-next: #F2F2F2;
$color-nextborder: #555555;


$color-text:#000000;
$color-smalltitle: #650300;
$color-light-text: #555555;
$color-dark-text: #0A0A0A;
$color-dark-blue: #212529;

$color-shop: #212529;


// font

$font-s:
$font-m:
$font-l:
$font-xl: 
